#MojeFoto {
    height: auto;
    width: 300px;
    border: red 20px;
    border-radius: 5px 60px 60px 60px;
    left: 5px;
}

@keyframes radius {
    from {
        border-radius: 600px 600px 600px 600px;
    }

    to {
        border-radius: 20px 20px 20px 20px;
    }

}

.FinalFantasy {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 0, 0, 0) 89.71%),
        linear-gradient(180deg, rgb(102, 125, 228), rgba(0, 255, 0, 0) 89.71%),
        linear-gradient(270deg, rgb(52, 64, 170), rgba(0, 0, 255, 0) 75.71%),
        linear-gradient(360deg, rgb(209, 23, 23), rgba(0, 0, 255, 0) 15.71%);
}

#MojeFoto2 {
    height: auto;
    width: 300px;
    border: red 20px;
    border-radius: 600px 600px 600px 600px;
}


#MojeFoto2:hover {

    animation-duration: 0.3s;
    animation-name: radius;
    animation-fill-mode: forwards;
    animation-timing-function: ease
}



#banner {
    position: sticky;
    text-align: center;
    color: darkred;
    background: linear-gradient(125deg, lightgray, dimgray 70%);
    padding: 20px 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}
 
.cytat {

    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    display: flex;
    padding: 5px;
    align-items: flex-end;
    justify-content: center;
    width: 220px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;

}

.podpis {
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: gray;
    display: flex;
}

.projekty {
 
    display: flex;
    flex-direction: column
}

.projektyTxt {
    display: flex;
    justify-content: center;
    align-items: center;

}

.projektyLinki {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 

}

.link {
    height: auto;
    width: 200px;
    max-height:95%; 
    max-width:95%;
    


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}