#MojeFoto {
    height: 170px;
    width: 170px;
    border: red 20px;
    border-radius: 55px 150px 150px 150px;
    left: 5px;
}

#banner {
    position: sticky;
    text-align: center;
    color: darkorchid;
    background-color: beige;
    padding: 20px 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}

#body {

    background-color: blanchedalmond;

}

.cytat {

    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    display: flex;
    padding: 5px;
    align-items: flex-end;
    justify-content: center;
    width: 220px;
    height: 254px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;

}

.podpis {
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: gray;
    display: flex;
}